= form_for Attention.new, url: attentions_path, remote: true, html: {role: :form, 'data-model' => 'attention'} do |f|
  -# - if @attention.errors.any?
  -#   #attention_error
  -#     %h2= "#{pluralize(@attention.errors.count, "error")} prohibited this person from being saved"
  -#     %ul
  -#       - @attention.errors.full_messages.each do |msg|
  -#         %li= msg
  .form-group
    = f.select :currency, Country.categories, {placeholder: "選擇地區貨幣", class: "selectpicker"}
    %span.help-block
  .form-group
    = f.number_field :target_amount, placeholder: "填入金額"
    %span.help-block
  = f.submit "送出"

-# :javascript
-#   $(document).ready(function() {
-#     //form id
-#     $('#new_attention')
-#     .bind('ajax:success', function(evt, data, status, xhr) {
-#       //function called on status: 200 (for ex.)
-#       console.log('success');
-#     })
-#     .bind("ajax:error", function(evt, xhr, status, error) {
-#       //function called on status: 401 or 500 (for ex.)
-#       $('#devise-error-message p').text(xhr.responseText);
-#       console.log(xhr.responseText);
-#       console.log(xhr);
-#       console.log(evt);
-#       console.log(status);
-#       console.log(error);
-#     });
-#   });
