//#attention-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
.modal-dialog
  .modal-content.attention.attention-create-form__container
    .modal-header{:align => "center"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
    / Begin # DIV Form
    #div-forms
      = attention_message
      .modal-container
        = bootstrap_form_for(:attention, url: attentions_path, html: { method: :post }) do |f|
          = f.select :currency, Country.categories, {placeholder: "選擇地區貨幣", class: "selectpicker", hide_label: true}
          = f.number_field :target_amount, hide_label: true, placeholder: "填入標的金額"
          = f.submit "送出"


:javascript
  $('.attention.attention-create-form__container .btn').click(function(){
    var target_amount = $('#attention_target_amount').val();
    if (target_amount === ""){
      alert("請輸入數字!");
      return false;
    }
  });
