#login-form
  .modal-body
    #div-login-msg
      #icon-login-msg.glyphicon.glyphicon-chevron-right
      %span#text-login-msg Type your username and password.
      = bootstrap_form_for(resource_name, :url => session_path(resource_name)) do |f|
        = f.email_field :email
        = f.password_field :password
        = f.check_box :remember_me
        = f.submit "Log In"
    .modal-footer
      %div
        %button#login_lost_btn.btn.btn-link{:type => "button"} Lost Password?
        %button#login_register_btn.btn.btn-link{:type => "button"} Register
