#login-form
  .modal-body
    #div-login-msg
      = render 'application/modal/oauth'
      //#icon-login-msg.glyphicon.glyphicon-chevron-right
      //%span#text-login-msg Enter your email and password to sign in
      -# = bootstrap_form_for(resource_name, :url => session_path(resource_name), label_errors: true, inline_errors: true) do |f|
      -#   = f.email_field :email, hide_label: true, placeholder: "電子郵件地址", control_class: 'modal-setting form-control'
      -#   = f.password_field :password, hide_label: true, placeholder: "密碼", control_class: 'modal-setting form-control'
      -#   .clearfix.space-1
      -#     = f.check_box :remember_me, label: "記住我", class: 'remember_me'
      -#     %a#login_lost_btn.pull-right 忘記密碼?
      -#   = f.submit "登錄", class: 'modal-setting form-control btn-login'

      -# = form_for User.new, as: resource_name, :url => session_path(resource_name), validate: true do |f|
      -#   = f.label :email
      -#   = f.text_field :email
      -#   = f.label :password
      -#   = f.text_field :password
      -#   = f.submit

      = form_for resource, url: session_path(:user), remote: true, validate: true do |f|
        .form-group
          = f.text_field :email, placeholder: "電子郵件地址", class: 'modal-setting form-control'
          %span.help-block
        .form-group
          = f.password_field :password, placeholder: "密碼", class: 'modal-setting form-control'
          %span.help-block
        .clearfix.space-1
          = f.label :remember_me do
            記住我
            = f.check_box :remember_me, class: 'remember_me'
            %a#login_lost_btn.pull-right 忘記密碼?
        = f.submit value: '登錄', class: 'modal-setting form-control btn-login'


    .modal-footer
      .clearfix.space-1
        %h4.pull-left 還沒有帳號嗎？
        %button#login_register_btn.btn.modal-setting.pull-right{type: "button"} 註冊


:sass
  .modal-setting
    height: 60px
    border-radius: 2px !important
    font-size: 16px
    margin: 5px 0
  .btn-block
    display: block
    white-space: normal
    text-decoration: none
    border-color: #c4c4c4
    background: white
    color: #484848

  .btn-login
    border-color: #ff5a5f
    border-bottom-color: #e00007
    background-color: #ff5a5f
    color: #fff
  //customize
  .form-group
    margin-bottom: 5px !important

  .remember_me
    float: left
    padding-top: 0
    padding-bottom: 0

  #login_lost_btn
    color: #e00007

  #login_register_btn, #register_login_btn
    background: #fff
    height: 40px
    border-color: #ff5a5f
    color: #ff5a5f

  .space-1
    margin: 12px 0




:javascript
  $('#login_lost_btn').insertAfter('label[for=user_remember_me]');
  $(document).ready(function() {
    //form id
    $('#new_user')
    .bind('ajax:success', function(evt, data, status, xhr) {
      //function called on status: 200 (for ex.)
      console.log('success');
    })
    .bind("ajax:error", function(evt, xhr, status, error) {
      //function called on status: 401 or 500 (for ex.)
      $(evt.data).render_form_errors( $.parseJSON(jqxhr.responseText) );
      
    });
  });
