<table class='table table-bordered table-reflow table-danger'>
  <tbody>
    <tr class='info'><td> 如果要買<%= @dollarSelect %>請到<%= @better_buy[0] %>(匯率<%= @better_buy[1] %>)買會比較便宜</td></tr>
    <tr class='info'><td> 如果要賣<%= @dollarSelect %>請到<%= @better_sell[0] %>(匯率<%= @better_sell[1] %>)會比較划算</td></tr>
  </tbody>
</table>
