.row
  .col-md-9
    .test
      = image_link('US.gif', t('country_categories.USD'), 'USD')
      = image_link('AU.gif', t('country_categories.AUD'), 'AUD')
      = image_link('EU.jpg', t('country_categories.EUR'), 'EUR')
      = image_link('riben.gif', t('country_categories.JPY'), 'JPY')
      = image_link('HK.png', t('country_categories.HKD'), 'HKD')
      = image_link('ying.gif', t('country_categories.GBP'), 'GBP')
      = image_link('ruishi.gif', t('country_categories.CHF'), 'CHF')
      = image_link('New.png', t('country_categories.NZD'), 'NZD')
      = image_link('jnd.gif', t('country_categories.CAD'), 'CAD')
      = image_link('xjp.gif', t('country_categories.SGD'), 'SGD')
      = image_link('hanguo.gif', t('country_categories.KRW'), 'KRW')
      = image_link('THA.jpg', t('country_categories.THB'), 'THB')
      = image_link('china.gif', t('country_categories.CNY'), 'CNY')
      = image_link('Nan.jpg', t('country_categories.ZAR'), 'ZAR')
      = image_link('ruidian.gif', t('country_categories.SEK'), 'SEK')
      = image_link('PH.jpg', t('country_categories.PHP'), 'PHP')
      = image_link('yini.gif', t('country_categories.IDR'), 'IDR')
      = image_link('Turkey.png', t('country_categories.TRY'), 'TRY')
  .col-md-3
    = render 'panel_right'
.row
  .col-md-10.col-md-offset-1.text-center
    #event_area
      %h3 各家銀行匯率查詢
      %h4
        (資料來自 #{link_to "TaiwanRate", "http://www.taiwanrate.org/"},以爬蟲方式讀取資料)
      .row
        %table.table.table-striped.table-bordered.table-hover.table-reflow
          .choice
          %thead.thead-default
            %tr
              %th 銀行
              %th 銀行買入價
              %th 銀行賣出價
          %tbody
