
	<!-- <div class="group">
		<%= my_country_select("幣別選擇", "choose", Country.categories) %>
	</div> -->
	<div class="col-md-9">
		<div class="test">
			<%=	image_link("US.gif","美金","USD") %>
			<%=	image_link("AU.gif","澳幣","AUD") %>
			<%=	image_link("EU.jpg","歐元","EUR") %>
			<%=	image_link("riben.gif","日幣","JPY") %>
			<%=	image_link("HK.png","港幣","HKD") %>
			<%=	image_link("ying.gif","英鎊","GBP") %>
			<%=	image_link("ruishi.gif","瑞士法郎","CHF") %>
			<%=	image_link("New.png","紐幣","NZD") %>
			<%=	image_link("jnd.gif","加幣","CAD") %>
			<%=	image_link("xjp.gif","新幣","SGD") %>
			<%=	image_link("hanguo.gif","韓元","KRW") %>
			<%=	image_link("THA.jpg","泰幣","THB") %>
			<%=	image_link("china.gif","人民幣","CNY") %>
			<%=	image_link("Nan.jpg","南非幣","ZAR") %>
			<%=	image_link("ruidian.gif","瑞典幣","SEK") %>
			<%=	image_link("PH.jpg","菲律賓幣","PHP") %>
			<%=	image_link("yini.gif","印尼幣","IDR") %>
			<%=	image_link("Turkey.png","土耳其幣","TRY") %>
		</div>
		<div class="container">
			<div class="col-md-10">
				<div id="event_area">
					<h3>各家銀行匯率查詢</h3>
					<h4>(資料來自 <%= link_to "TaiwanRate", "http://www.taiwanrate.org/" %>,以爬蟲方式讀取資料)</h4>
					<div class="row">
						<table class="table table-striped table-bordered table-hover table-reflow">
							<div class="choice"></div>
							<thead class="thead-default">
								<tr>
									<th>銀行</th>
									<th>銀行買入價</th>
									<th>銀行賣出價</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="col-md-3">
			<div class = "panel panel-primary">
				<div class = "panel-heading">
			      <h3 class = "panel-title">匯率換算</h3>
						<h5>匯率依<%= link_to "台灣銀行","http://rate.bot.com.tw/Pages/Static/UIP003.zh-TW.htm" %>牌告所示,進行換算</h5>
			  </div>
			  <div class = "panel-body">
					<div class="form-group">
	 					<input type="text" id="amount" class="form-control" placeholder="請輸入金額"/>
	 					<%= my_country_select("你要將", "from_rate", Country.categories) %>
	 					<%= my_country_select("換成", "to_rate", Country.categories) %>
	 				</div>
					<button type="button" class="btn btn-success btn-xs" id="btnTransfer">換算</button>
	 				<div class="form-group">
	 					<label for="calAmount">總共為 $ </label>
	 		    	<input type="text" class="form-control" id="calAmount" />
	 				</div>
			  </div>
			</div>
		</div>
